body {
  max-width: 1280px;
  margin: 0;
  background: #fff;
  color: #202124;
}

.app {
  margin: 10px;
}

.left-container {
  margin-left: 30px;
  float: left;
  width: 45%;
}

.right-container {
  margin-right: 30px;
  float: right;
  width: 45%;
}

.make-to-do-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid;
  padding: 5px;
}

.make-to-do-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  margin-right: 30px;
}

.make-to-do-input input {
  height: 30px;
}

.make-to-do-button {
  width: 70px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.input-sort-button.active::before {
  content: '🗸';
}

.time-sort-button.active::before {
  content: '🗸';
}

.list-to-do-container {
  position: relative;
  width: 100%;
  min-height: 300px;
  border: 1px solid;
  margin-top: 10px;
  padding: 5px;
}

.to-do {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  margin-top: 10px;
  padding: 5px 10px;
}

.to-do div input {
  margin: 0 5px;
}

.to-do div span {
  margin: 0 5px;
}

.to-do div button {
  margin: 0 5px;
}

.done-to-do-container {
  position: relative;
  width: 100%;
  min-height: 468px;
  border: 1px solid;
  margin-top: 10px;
  padding: 5px;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.pop-up-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.pop-up-button {
  margin-top: 30px;
  padding: 10px 30px;
}
